.fancyButtons {
	width: auto;
	cursor: pointer;
	float: left;
}

.fancyButtonsLeft {
	position: absolute; 
	width: 4px;
	height: 43px;
}

.fancyButtonsCenter {
	width: auto; 
	height: 19px;
	font-weight: bold;
	padding: 12px 30px;
	float: left;
	color: #FFF;
	font-size: 14px;
	margin-left: 4px;
}

.fancyButtonsRight {
	width: 3px;
	height: 43px;
	float: left;
}

.fancyButtons:hover .fancyButtonsCenter, .fancyButtons:hover .fancyButtonsLeft, .fancyButtons:hover .fancyButtonsRight {
	background-position: 0 -43px;
}

.fancyButtons-Blue .fancyButtonsLeft { background: url("../images/fancyButtons-Big-Blue-Left.png") 0 0px repeat-x; }
.fancyButtons-Blue .fancyButtonsCenter { background: url("../images/fancyButtons-Big-Blue-Center.png") 0 0px repeat-x; }
.fancyButtons-Blue .fancyButtonsRight { background: url("../images/fancyButtons-Big-Blue-Right.png") 0 0px repeat-x; }

.fancyButtons-Orange .fancyButtonsLeft { background: url("../images/fancyButtons-Big-Orange-Left.png") 0 0px repeat-x; }
.fancyButtons-Orange .fancyButtonsCenter { background: url("../images/fancyButtons-Big-Orange-Center.png") 0 0px repeat-x; }
.fancyButtons-Orange .fancyButtonsRight { background: url("../images/fancyButtons-Big-Orange-Right.png") 0 0px repeat-x; }

.fancyButtons-Red .fancyButtonsLeft { background: url("../images/fancyButtons-Big-Red-Left.png") 0 0px repeat-x; }
.fancyButtons-Red .fancyButtonsCenter { background: url("../images/fancyButtons-Big-Red-Center.png") 0 0px repeat-x; }
.fancyButtons-Red .fancyButtonsRight { background: url("../images/fancyButtons-Big-Red-Right.png") 0 0px repeat-x; }

.fancyButtons-Green .fancyButtonsLeft { background: url("../images/fancyButtons-Big-Green-Left.png") 0 0px repeat-x; }
.fancyButtons-Green .fancyButtonsCenter { background: url("../images/fancyButtons-Big-Green-Center.png") 0 0px repeat-x; }
.fancyButtons-Green .fancyButtonsRight { background: url("../images/fancyButtons-Big-Green-Right.png") 0 0px repeat-x; }