.bigButton {
	width: auto;
	cursor: pointer;
	float: left;
}

.bigButtonLeft {
	position: absolute; 
	width: 4px;
	height: 43px;
}

.bigButtonCenter {
	width: auto; 
	height: 19px;
	font-weight: bold;
	padding: 12px 30px;
	float: left;
	color: #FFF;
	font-size: 14px;
	margin-left: 4px;
}

.bigButtonRight {
	width: 3px;
	height: 43px;
	float: left;
}

.bigButton:hover .bigButtonCenter, .bigButton:hover .bigButtonLeft, .bigButton:hover .bigButtonRight {
	background-position: 0 -43px;
}

.bigButton-Blue .bigButtonLeft { background: url("../images/blueBigButtonLeft.png") 0 0px repeat-x; }
.bigButton-Blue .bigButtonCenter {	background: url("../images/blueBigButtonCenter.png") 0 0px repeat-x; }
.bigButton-Blue .bigButtonRight { background: url("../images/blueBigButtonRight.png") 0 0px repeat-x; }

.bigButton-Orange .bigButtonLeft { background: url("../images/orangeBigButtonLeft.png") 0 0px repeat-x; }
.bigButton-Orange .bigButtonCenter { background: url("../images/orangeBigButtonCenter.png") 0 0px repeat-x; }
.bigButton-Orange .bigButtonRight { background: url("../images/orangeBigButtonRight.png") 0 0px repeat-x; }